body {
  margin: 0;
  font: 1rem sans-serif;
  color: black;

}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;

}

.author {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);

}



.nav {
  background-color: #399beb;
  overflow: auto;
  color: white;
}

.nav__left {
  float: left;
  padding-left: 2rem;
}

.nav__right {
  float: right;
  padding-right: 2rem;
}

.nav__list {

}

.nav__item {
  display: inline;
}

a {
  text-decoration: none;
  color: white;
  margin: 0 1rem;
  font-family: sans-serif;
}

.section {
  margin: 0;
  padding: 1rem;
  background-color: #f4f3ef;
}

.container {
  margin: 0 3rem;
  padding-top: 2rem;
  max-width: 65rem;
  margin: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8rem;
}

.grid__item {
  justify-content: space-between;
  margin: 1rem;
  width: calc(100% / 2 - 2rem);
  flex-basis: calc(100% / 2 - 2rem);
}

.card {
  border: 1px #ddd solid;

}

.card__head {
  background-color: #f7c24b;
  position: relative;
  padding: 1rem;

}

.card__head p {
  background-color: #399beb;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  padding: 1rem;
  transform: translate(-50%, -50%);
  color:white;
}

.card__head h4 {
  margin: 0;
  display: inline-block;
  padding: 2rem;
}



.card__content {
  margin-top: 0;
  padding: 1rem;
  background-color: white;
}
